/composer.lock
/nbproject/private/
/var/logs/dev.log
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/php_errors.log
/vendor
/var/logs/test.log
/nbproject/
/var/cache/dev/*.log
/var/cache/dev/*.meta
/var/cache/dev/*.xml
/var/cache/dev/*.php
/var/cache/dev/*.map
/var/cache/dev/pools/*
/var/cache/test/*.log
/var/cache/test/*.meta
/var/cache/test/*.xml
/var/cache/test/*.php
/var/cache/test/*.map
/var/cache/test/pools/*
/var/cache/test/twig/*
/var/cache/dev/twig/*
/var/cache/dev/profiler/
/var/cache/dev/jms_serializer/
